.DS_Store

prestashop/var/
prestashop/app/config/parameters.php

/.env
deployment/.env
.venv

utils/venv
utils/__pycache__
utils/.env

ssl/*.pem

automatic-testing/venv
automatic-testing/__pycache__
automatic-testing/.pytest_cache
automatic-testing/.ruff_cache
