.elementor-5170101 .elementor-element.elementor-element-106bd76 .elementor-widget-container{gap:10px;}.elementor-5170101 .elementor-element.elementor-element-106bd76.elementor-position-bottom .elementor-thumbnails-swiper:not(.swiper-initialized) .swiper-wrapper{grid-column-gap:10px;}.elementor-5170101 .elementor-element.elementor-element-106bd76:not(.elementor-position-bottom) .elementor-thumbnails-swiper:not(.swiper-initialized) .swiper-wrapper{grid-row-gap:10px;}.elementor-5170101 .elementor-element.elementor-element-106bd76 .elementor-swiper-button i{font-size:20px;}.elementor-5170101 .elementor-element.elementor-element-106bd76 .elementor-swiper-button svg{width:20px;height:20px;}.elementor-5170101 .elementor-element.elementor-element-352b676 .ce-product-name{white-space:normal;overflow:visible;}.elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices{font-size:22px;font-weight:600;line-height:0.9em;color:#8B1EA7;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices > div{margin:0 0px 0px 0;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices{margin:0 -0px -0px 0;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices > div{margin:0 0 0px 0px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices{margin:0 0 -0px -0px;}.elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-price-regular{font-size:1px;color:#9533BC;}.elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-price-without-taxes{font-size:1px;color:#AF35D8;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-badge-sale{margin-left:10px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-badge-sale{margin-right:10px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__item{margin:0 20px 20px 0;}.elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants{margin:0 -20px -20px 0;}.elementor-5170101 .elementor-element.elementor-element-4c88eca.ce-product-variants--layout-stacked .ce-product-variants__label{display:inline-block;margin-bottom:5px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca.ce-product-variants--layout-inline:not(.ce-product-variants--label-inline) .ce-product-variants__label{margin-bottom:5px;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca.ce-product-variants--label-inline .ce-product-variants__label{margin-right:5px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca.ce-product-variants--label-inline .ce-product-variants__label{margin-left:5px;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__options label{margin:0 10px 10px 0;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__options{margin:0 -10px -10px 0;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__options label{margin:0 0 10px 10px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__options{margin:0 0 -10px -10px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__option{border-color:#818a91;border-style:solid;border-width:2px;padding:5px 10px 5px 10px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca input:checked ~ .ce-product-variants__option{border-color:#5bc0de;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__patterns label{margin:0 10px 10px 0;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__patterns{margin:0 -10px -10px 0;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__patterns label{margin:0 0 10px 10px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__patterns{margin:0 0 -10px -10px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__pattern{border-color:#818a91;border-style:solid;border-width:2px;padding:2px;width:30px;height:30px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca label:hover .ce-product-variants__pattern{border-style:solid;border-width:2px;padding:2px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca input:checked ~ .ce-product-variants__pattern{border-color:#5bc0de;border-style:solid;border-width:2px;padding:2px;}.elementor-5170101 .elementor-element.elementor-element-d25c518 a.elementor-button{font-size:28px;line-height:0.4em;letter-spacing:1px;background-color:#000656;border-radius:0px 0px 0px 0px;cursor:pointer;}.elementor-5170101 .elementor-element.elementor-element-d25c518 a.elementor-button:not([href]){cursor:not-allowed;background-color:rgba(129,138,145,0.35);}.elementor-5170101 .elementor-element.elementor-element-d25c518{width:342px;max-width:342px;flex-grow:1;}.elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tab-title, .elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tab-title:before, .elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tab-title:after, .elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tab-content, .elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tabs-content-wrapper{border-width:1px;}.elementor-5170101 .elementor-element.elementor-element-6275c27.ce-product-meta--layout-inline .ce-product-meta{margin:0 calc(-10px / 2);}.elementor-5170101 .elementor-element.elementor-element-6275c27.ce-product-meta--layout-inline .ce-product-meta__detail{padding:0 calc(10px / 2);}.elementor-5170101 .elementor-element.elementor-element-6275c27:not(.ce-product-meta--layout-inline) .ce-product-meta__detail:not(:first-child){padding-top:calc(10px / 2);}.elementor-5170101 .elementor-element.elementor-element-6275c27:not(.ce-product-meta--layout-inline) .ce-product-meta__detail:not(:last-child){padding-bottom:calc(10px / 2);}.elementor-5170101 .elementor-element.elementor-element-896cee2.ce-product-meta--layout-inline .ce-product-meta{margin:0 calc(-10px / 2);}.elementor-5170101 .elementor-element.elementor-element-896cee2.ce-product-meta--layout-inline .ce-product-meta__detail{padding:0 calc(10px / 2);}.elementor-5170101 .elementor-element.elementor-element-896cee2:not(.ce-product-meta--layout-inline) .ce-product-meta__detail:not(:first-child){padding-top:calc(10px / 2);}.elementor-5170101 .elementor-element.elementor-element-896cee2:not(.ce-product-meta--layout-inline) .ce-product-meta__detail:not(:last-child){padding-bottom:calc(10px / 2);}@media(min-width:768px){.elementor-5170101 .elementor-element.elementor-element-9903233{width:55.439%;}.elementor-5170101 .elementor-element.elementor-element-3c9214b{width:44.517%;}.elementor-5170101 .elementor-element.elementor-element-6498bc5{width:16.545%;}.elementor-5170101 .elementor-element.elementor-element-149ff4a{width:83.455%;}}/* Start custom CSS for html, class: .elementor-element-7e88de6 */#pixel_customBenefits { 
    display: flex; 
    margin-top: 30px; 
    overflow: visible !important;
} 

.row:before,.box:before,.product:before,.s-row:before,.row:after,.box:after,.product:after,.s-row:after { 
    display: table; 
    line-height: 0; 
    content: '';
} 

.row:after,.box:after,.product:after,.s-row:after { 
    clear: both;
} 

#pixel_customBenefits > * { 
    position: relative; 
    box-sizing: border-box; 
    flex-shrink: 0; 
    padding: 10px; 
    flex-basis: 25%;
} 

#pixel_customBenefits .pixel_customBenefits-thumbnail  { 
    padding: 20px; 
    padding-bottom: 10px;
} 

#pixel_customBenefits .pixel_customBenefits-with_hint  { 
    position: relative;
} 

#pixel_customBenefits .pixel_customBenefits-with_hint::after { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    content: "?"; 
    display: block; 
    font-size: 16px; 
    color: #00f0f0;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

#pixel_customBenefits span  { 
    font-size: 12px; 
    line-height: 14px;
} 

#pixel_customBenefits span  { 
    display: block; 
    text-align: center !important; 
    width: 100%;
} 

#pixel_customBenefits .pixel_customBenefits-tooltip  { 
    text-align: center; 
    width: 250px; 
    position: absolute; 
    display: none; 
    background: #fff; 
    padding: 10px; 
    border: 2px solid #000656; 
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%);
} 

#pixel_customBenefits > :first-child .pixel_customBenefits-tooltip { 
    left: 0; 
    transform: translateX(0);
} 

#pixel_customBenefits > :hover .pixel_customBenefits-tooltip { 
    display: block; 
    font-size: 14px;
} 

#pixel_customBenefits span.preorder  { 
    display: none;
} 

#pixel_customBenefits > :last-child .pixel_customBenefits-tooltip { 
    right: 0; 
    left: auto; 
    transform: translateX(0);
} 

img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

img { 
    max-width: 100%; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-dBN7h.style-dBN7h {  
   display: none;  
}/* End custom CSS */
/* Start custom CSS for product-add-to-cart, class: .elementor-element-d25c518 */a{
    width: 140%;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-9d4dd51 */.row:before,.box:before,.product:before,.s-row:before,.row:after,.box:after,.product:after,.s-row:after { 
    display: table; 
    line-height: 0; 
    content: '';
} 

.row:after,.box:after,.product:after,.s-row:after { 
    clear: both;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

span.loyalty_points  { 
    font-size: 12px;
} 

.loyalty_points  { 
    color: #000656 !important; 
    padding-top: 10px;
} 

.loyalty_points  { 
    display: block; 
    color: #666; 
    text-align: right;
} 

.tooltip_pointer  { 
    color: #00f0f0; 
    padding: 0 .5em; 
    position: relative; 
    z-index: 10; 
    cursor: pointer;
} 

label { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

label { 
    cursor: pointer;
} 

label  { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-border-top-right-radius: 0; 
    -webkit-border-bottom-right-radius: 0; 
    -webkit-border-bottom-left-radius: 0; 
    -webkit-border-top-left-radius: 0; 
    -moz-border-radius-topright: 0; 
    -moz-border-radius-bottomright: 0; 
    -moz-border-radius-bottomleft: 0; 
    -moz-border-radius-topleft: 0; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
    border-top-left-radius: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 20px;
} 

label  { 
    display: inline-block; 
    line-height: 30px;
} 

.tooltip { 
    position: relative; 
    display: inline-block;
} 

.tooltip  { 
    display: none; 
    line-height: 14px; 
    font-size: 0.9em; 
    color: #666;
} 

#loyalty_msg  { 
    z-index: 100;
}/* End custom CSS */