.elementor-5170101 .elementor-element.elementor-element-fd49ddd > .elementor-container{max-width:1600px;}.elementor-5170101 .elementor-element.elementor-element-fd49ddd:not(.elementor-motion-effects-element-type-background), .elementor-5170101 .elementor-element.elementor-element-fd49ddd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-5170101 .elementor-element.elementor-element-fd49ddd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-5170101 .elementor-element.elementor-element-fd49ddd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5170101 .elementor-element.elementor-element-106bd76 .elementor-widget-container{gap:10px;}.elementor-5170101 .elementor-element.elementor-element-106bd76.elementor-position-bottom .elementor-thumbnails-swiper:not(.swiper-initialized) .swiper-wrapper{grid-column-gap:10px;}.elementor-5170101 .elementor-element.elementor-element-106bd76:not(.elementor-position-bottom) .elementor-thumbnails-swiper:not(.swiper-initialized) .swiper-wrapper{grid-row-gap:10px;}.elementor-5170101 .elementor-element.elementor-element-106bd76 .elementor-swiper-button i{font-size:20px;}.elementor-5170101 .elementor-element.elementor-element-106bd76 .elementor-swiper-button svg{width:20px;height:20px;}.elementor-5170101 .elementor-element.elementor-element-106bd76 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5170101 .elementor-element.elementor-element-022fc36{margin-top:10px;margin-bottom:010px;}.elementor-5170101 .elementor-element.elementor-element-352b676 .ce-product-name{white-space:normal;overflow:visible;}.elementor-5170101 .elementor-element.elementor-element-69ce3d6{text-align:left;}.elementor-5170101 .elementor-element.elementor-element-69ce3d6 .elementor-heading-title{font-weight:400;line-height:0.1em;letter-spacing:0px;}.elementor-5170101 .elementor-element.elementor-element-d3d0c5b .elementor-heading-title{font-weight:400;}.elementor-5170101 .elementor-element.elementor-element-474c576{padding:0px 010px 0px 0px;}.elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices{font-size:22px;font-weight:600;line-height:0.9em;color:#8B1EA7;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices > div{margin:0 0px 0px 0;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices{margin:0 -0px -0px 0;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices > div{margin:0 0 0px 0px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-prices{margin:0 0 -0px -0px;}.elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-price-regular{font-size:1px;color:#9533BC;}.elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-price-without-taxes{font-size:1px;color:#AF35D8;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-badge-sale{margin-left:10px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-5fd5b5b .ce-product-badge-sale{margin-right:10px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__item{margin:0 20px 20px 0;}.elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants{margin:0 -20px -20px 0;}.elementor-5170101 .elementor-element.elementor-element-4c88eca.ce-product-variants--layout-stacked .ce-product-variants__label{display:inline-block;margin-bottom:6px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca.ce-product-variants--layout-inline:not(.ce-product-variants--label-inline) .ce-product-variants__label{margin-bottom:6px;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca.ce-product-variants--label-inline .ce-product-variants__label{margin-right:6px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca.ce-product-variants--label-inline .ce-product-variants__label{margin-left:6px;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__options label{margin:0 10px 10px 0;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__options{margin:0 -10px -10px 0;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__options label{margin:0 0 10px 10px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__options{margin:0 0 -10px -10px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__option{border-color:#818a91;border-style:solid;border-width:2px;padding:5px 10px 5px 10px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca input:checked ~ .ce-product-variants__option{border-color:#5bc0de;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__patterns label{margin:0 10px 10px 0;}body:not(.lang-rtl) .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__patterns{margin:0 -10px -10px 0;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__patterns label{margin:0 0 10px 10px;}body.lang-rtl .elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__patterns{margin:0 0 -10px -10px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca .ce-product-variants__pattern{border-color:#818a91;border-style:solid;border-width:2px;padding:2px;width:30px;height:30px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca label:hover .ce-product-variants__pattern{border-style:solid;border-width:2px;padding:2px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca input:checked ~ .ce-product-variants__pattern{border-color:#5bc0de;border-style:solid;border-width:2px;padding:2px;}.elementor-5170101 .elementor-element.elementor-element-4c88eca > .elementor-widget-container{padding:0px 035px 0px 0px;}.elementor-5170101 .elementor-element.elementor-element-d25c518 a.elementor-button{font-size:28px;line-height:0.4em;letter-spacing:1px;background-color:#000656;border-radius:0px 0px 0px 0px;cursor:pointer;}.elementor-5170101 .elementor-element.elementor-element-d25c518 a.elementor-button:not([href]){cursor:not-allowed;background-color:rgba(129,138,145,0.35);}.elementor-5170101 .elementor-element.elementor-element-d25c518{width:342px;max-width:342px;flex-grow:1;}.elementor-5170101 .elementor-element.elementor-element-9d4dd51 > .elementor-widget-container{margin:0px 010px 0px 0px;padding:0px 0px 0px 0px;}.elementor-5170101 .elementor-element.elementor-element-e986a4a:not(.elementor-motion-effects-element-type-background), .elementor-5170101 .elementor-element.elementor-element-e986a4a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-5170101 .elementor-element.elementor-element-e986a4a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-5170101 .elementor-element.elementor-element-e986a4a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tab-title, .elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tab-title:before, .elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tab-title:after, .elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tab-content, .elementor-5170101 .elementor-element.elementor-element-ccffc83 .elementor-tabs-content-wrapper{border-width:1px;}@media(min-width:768px){.elementor-5170101 .elementor-element.elementor-element-9903233{width:55.439%;}.elementor-5170101 .elementor-element.elementor-element-3c9214b{width:44.517%;}.elementor-5170101 .elementor-element.elementor-element-6498bc5{width:16.545%;}.elementor-5170101 .elementor-element.elementor-element-149ff4a{width:83.455%;}}/* Start custom CSS for html, class: .elementor-element-7e88de6 */#pixel_customBenefits { 
    display: flex; 
    margin-top: 30px; 
    overflow: visible !important;
} 

.row:before,.box:before,.product:before,.s-row:before,.row:after,.box:after,.product:after,.s-row:after { 
    display: table; 
    line-height: 0; 
    content: '';
} 

.row:after,.box:after,.product:after,.s-row:after { 
    clear: both;
} 

#pixel_customBenefits > * { 
    position: relative; 
    box-sizing: border-box; 
    flex-shrink: 0; 
    padding: 10px; 
    flex-basis: 25%;
} 

#pixel_customBenefits .pixel_customBenefits-thumbnail  { 
    padding: 20px; 
    padding-bottom: 10px;
} 

#pixel_customBenefits .pixel_customBenefits-with_hint  { 
    position: relative;
} 

#pixel_customBenefits .pixel_customBenefits-with_hint::after { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    content: "?"; 
    display: block; 
    font-size: 16px; 
    color: #00f0f0;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

#pixel_customBenefits span  { 
    font-size: 12px; 
    line-height: 14px;
} 

#pixel_customBenefits span  { 
    display: block; 
    text-align: center !important; 
    width: 100%;
} 

#pixel_customBenefits .pixel_customBenefits-tooltip  { 
    text-align: center; 
    width: 250px; 
    position: absolute; 
    display: none; 
    background: #fff; 
    padding: 10px; 
    border: 2px solid #000656; 
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%);
} 

#pixel_customBenefits > :first-child .pixel_customBenefits-tooltip { 
    left: 0; 
    transform: translateX(0);
} 

#pixel_customBenefits > :hover .pixel_customBenefits-tooltip { 
    display: block; 
    font-size: 14px;
} 

#pixel_customBenefits span.preorder  { 
    display: none;
} 

#pixel_customBenefits > :last-child .pixel_customBenefits-tooltip { 
    right: 0; 
    left: auto; 
    transform: translateX(0);
} 

img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

img { 
    max-width: 100%; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-dBN7h.style-dBN7h {  
   display: none;  
}/* End custom CSS */
/* Start custom CSS for product-add-to-cart, class: .elementor-element-d25c518 */a{
    width: 140%;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-9d4dd51 */.row:before,.box:before,.product:before,.s-row:before,.row:after,.box:after,.product:after,.s-row:after { 
    display: table; 
    line-height: 0; 
    content: '';
} 

.row:after,.box:after,.product:after,.s-row:after { 
    clear: both;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

span.loyalty_points  { 
    font-size: 12px;
} 

.loyalty_points  { 
    color: #000656 !important; 
    padding-top: 10px;
} 

.loyalty_points  { 
    display: block; 
    color: #666; 
    text-align: right;
} 

.tooltip_pointer  { 
    color: #00f0f0; 
    padding: 0 .5em; 
    position: relative; 
    z-index: 10; 
    cursor: pointer;
} 

label { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

label { 
    cursor: pointer;
} 

label  { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-border-top-right-radius: 0; 
    -webkit-border-bottom-right-radius: 0; 
    -webkit-border-bottom-left-radius: 0; 
    -webkit-border-top-left-radius: 0; 
    -moz-border-radius-topright: 0; 
    -moz-border-radius-bottomright: 0; 
    -moz-border-radius-bottomleft: 0; 
    -moz-border-radius-topleft: 0; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
    border-top-left-radius: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 20px;
} 

label  { 
    display: inline-block; 
    line-height: 30px;
} 

.tooltip { 
    position: relative; 
    display: inline-block;
} 

.tooltip  { 
    display: none; 
    line-height: 14px; 
    font-size: 0.9em; 
    color: #666;
} 

#loyalty_msg  { 
    z-index: 100;
} 

.tooltip {
    display: none; /* Initially hide the tooltip */
    position: absolute; /* Position it relative to parent */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 250px;
}

.loyalty_points {
    position: relative; /* Ensures absolute positioning works */
}

.tooltip_pointer:hover + .tooltip {
    display: block; /* Show tooltip when "?" is hovered */
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-0cf74be */@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700,100i,200i,300i,400i,500i,600i,700i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap'); 
@font-face { 
  font-family:"uni";
  src:url("https://pixel-shop.pl/skins/user/rwd_shoper_43/images/user/uni0553-webfont.ttf");
  src:url("https://pixel-shop.pl/skins/user/rwd_shoper_43/images/user/uni0553-webfont.eot");
  src:url("https://pixel-shop.pl/skins/user/rwd_shoper_43/images/user/uni0553-webfont.woff");
} 
  body {  
    font-size:100%;
    background:#fff;
    font-weight:700;
    font-family:"Roboto Mono",monospace;
    color:#000656;
    line-height:18px;
  }  
div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

body { 
    font-family: 'Roboto',sans-serif; 
    color: #000656; 
    background-color: #fff; 
    font-size: 16px; 
    line-height: 18px;
} 

body { 
    position: static !important; 
    overflow-x: hidden;
} 

body { 
    font-family: "Roboto Mono",monospace;
} 

html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

html { 
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
} 

.innerbox-delivery  { 
    border: 4px solid #000656; 
    padding: 15px;
} 

h3 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

h3 { 
    margin: 10px 0 0; 
    font-family: inherit; 
    font-weight: normal; 
    line-height: 21px; 
    color: #000656;
} 

h3 { 
    line-height: 35px;
} 

h3 { 
    font-size: 1.4em;
} 

h3 { 
    font-family: "Roboto Mono",monospace;
} 

#pixel_dynamic_delivery_table .innerbox-delivery h3 { 
    font-family: "uni"; 
    font-size: 45px; 
    line-height: 45px; 
    margin: 0 0 15px 0;
} 

.table-delivery-wrapper  { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
} 

.footer-delivery  { 
    font-weight: 700; 
    margin-top: 20px;
} 

.row-delivery  { 
    display: flex; 
    justify-content: space-between; 
    border-bottom: 1px solid #000656;
} 

.row-delivery  { 
    border-bottom: solid 2px #000655;
} 

.table-delivery:nth-child(2) .row-delivery:nth-child(2)  { 
    display: none;
} 

.row-delivery .col-delivery  { 
    padding: 5px; 
    display: flex; 
    align-items: center;
} 

.row-delivery .col-delivery  { 
    padding: 8px 6px;
} 

.row-delivery .col-delivery:last-child  { 
    border-left: 1px solid #000656;
} 

.row-delivery .col-delivery:last-child  { 
    min-width: 80px; 
    justify-content: center;
} 

.row-delivery .col-delivery:last-child  { 
    border-left: solid 2px #000655;
} 

img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

img { 
    max-width: 100%; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic;
}/* End custom CSS */