/* Start custom CSS for html, class: .elementor-element-02b0157 */.row:before,.box:before,.product:before,.s-row:before,.row:after,.box:after,.product:after,.s-row:after { 
    display: table; 
    line-height: 0; 
    content: '';
} 

.row:after,.box:after,.product:after,.s-row:after { 
    clear: both;
} 

.boxhead  { 
    border-bottom: 1px solid #d8d8d8; 
    margin-bottom: 0.7em; 
    line-height: 40px;
} 

h3 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

h3 { 
    margin: 10px 0 0; 
    font-family: inherit; 
    font-weight: normal; 
    line-height: 21px; 
    color: #000656;
} 

h3 { 
    line-height: 35px;
} 

h3 { 
    font-size: 1.4em;
} 

h3 { 
    font-family: "Roboto Mono",monospace;
} 

p { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

form { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

form { 
    margin: 0 0 20px;
} 

.search { 
    position: relative; 
    color: #111;
} 

#box_404 form  { 
    margin-top: 2em;
} 

#box_404 .search  { 
    max-width: 284px;
} 

img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

img { 
    max-width: 100%; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic;
} 

.px1 { 
    width: 0; 
    height: 0; 
    display: inline-block; 
    border-width: 0; 
    vertical-align: middle;
} 

.px1 { 
    display: none; 
    vertical-align: middle;
} 

.r--l-flex { 
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
} 

.search *  { 
    box-sizing: border-box;
} 

.search__input-area { 
    background-color: #fff; 
    padding: 0; 
    padding-left: 7.5px; 
    border: 1px solid #d8d8d8; 
    border-right: none;
} 

.r--l-flex.r--l-flex-vcenter { 
    -webkit-box-align: center; 
    -moz-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.search * , .search ::after, .search ::before { 
    box-sizing: border-box;
} 

.search *, .search ::after, .search ::before { 
    box-sizing: border-box;
} 

.search__content { 
    display: none; 
    position: absolute; 
    left: 0; 
    min-width: 570px; 
    width: 100%; 
    overflow: hidden; 
    -webkit-box-shadow: 0 2px 9px 0 rgba(16,47,102,0.16); 
    box-shadow: 0 2px 9px 0 rgba(16,47,102,0.16); 
    background-color: #fff; 
    z-index: 20;
} 

input { 
    margin: 0; 
    font-size: 100%; 
    vertical-align: middle; 
    max-width: 100%;
} 

input { 
    line-height: normal;
} 

form input  { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-border-top-right-radius: 0; 
    -webkit-border-bottom-right-radius: 0; 
    -webkit-border-bottom-left-radius: 0; 
    -webkit-border-top-left-radius: 0; 
    -moz-border-radius-topright: 0; 
    -moz-border-radius-bottomright: 0; 
    -moz-border-radius-bottomleft: 0; 
    -moz-border-radius-topleft: 0; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
    border-top-left-radius: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 20px;
} 

.innerbox form input  { 
    height: 40px; 
    min-height: 40px;
} 

a { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

a { 
    color: #00f0f0; 
    text-decoration: none;
} 

a:hover,a:active { 
    outline: 0;
} 

a:hover { 
    color: #00f0f0;
} 

.search__input-area-item_grow { 
    flex-grow: 1;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

.none { 
    display: none !important;
} 

.icon { 
    font-family: 'rwd-custom'; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.search__icon { 
    font-size: 1em; 
    color: #333;
} 

.icon-close:before { 
    content: "\e90b";
} 

.search__loader { 
    -webkit-animation: loader-spin 1s infinite ease-in-out; 
    animation: loader-spin 1s infinite ease-in-out;
} 

.search__loader { 
    width: 1em;
} 

.search__loader { 
    animation: none !important;
} 

.search__input { 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto;
} 

form input[type="search"]  { 
    -webkit-transition: border linear .2s; 
    -moz-transition: border linear .2s; 
    -o-transition: border linear .2s; 
    transition: border linear .2s; 
    -webkit-appearance: none; 
    display: inline-block; 
    height: 24px; 
    padding: 4px 6px; 
    margin-bottom: 4px; 
    font-size: 14px; 
    line-height: 20px; 
    color: #666; 
    vertical-align: middle; 
    background-color: #fff; 
    border: 1px solid #d8d8d8; 
    min-height: 35px;
} 

.search__input[type="search"] { 
    -webkit-appearance: none; 
    appearance: none; 
    border: none; 
    background-color: #fff; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    padding: 15px; 
    margin: 0; 
    min-height: 100%; 
    width: 100%; 
    color: #111;
} 

.search .js__search-close-btn  { 
    display: none;
} 

.icon-back:before { 
    content: "\e90a";
} 

button { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0 none; 
    font-size: 100%; 
    background: transparent;
} 

button { 
    margin: 0; 
    font-size: 100%; 
    vertical-align: middle; 
    max-width: 100%;
} 

button { 
    line-height: normal;
} 

button { 
    -webkit-appearance: button;
} 

button { 
    cursor: pointer;
} 

form button  { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-border-top-right-radius: 0; 
    -webkit-border-bottom-right-radius: 0; 
    -webkit-border-bottom-left-radius: 0; 
    -webkit-border-top-left-radius: 0; 
    -moz-border-radius-topright: 0; 
    -moz-border-radius-bottomright: 0; 
    -moz-border-radius-bottomleft: 0; 
    -moz-border-radius-topleft: 0; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
    border-top-left-radius: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 20px;
} 

.btn { 
    display: inline-block; 
    padding: .35em .85em; 
    margin: 0; 
    font-size: 1.15em; 
    line-height: 1.35; 
    color: #333; 
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer; 
    border: 1px solid #b1b1b1; 
    background-color: #d8d8d8; 
    position: relative; 
    text-transform: lowercase; 
    text-decoration: none;
} 

.search__btn-search { 
    width: 100%; 
    min-height: 100%; 
    padding: 12px;
} 

.btn { 
    border: 2px solid #000656; 
    height: 40px; 
    background: transparent; 
    color: #000656; 
    padding: 2px; 
    transition: 0.2s;
} 

.search button  { 
    font-family: 'Open Sans',sans-serif;
} 

.btn.btn-red { 
    background-color: #00f0f0; 
    border: 1px solid #00f0f0; 
    color: #fff;
} 

.r--l-flex.r--l-flex-hcenter { 
    -webkit-box-pack: center; 
    -moz-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center;
} 

.btn.btn-red { 
    border: 2px solid #000656; 
    border-color: #000656 !important; 
    background: #000656; 
    color: #fff;
} 

.btn:hover { 
    -webkit-transition: background-color .3s linear; 
    -moz-transition: background-color .3s linear; 
    -o-transition: background-color .3s linear; 
    transition: background-color .3s linear; 
    color: #fff; 
    background-color: #444; 
    border-color: #444;
} 

.btn:hover { 
    border-color: #000656; 
    background: transparent;
} 

.btn.btn-red:hover { 
    background-color: #444; 
    border-color: #444;
} 

.btn.btn-red:hover { 
    background: #000656;
} 

.search__icon_size-l { 
    font-size: 1.3em; 
    line-height: 1em;
} 

.btn span  { 
    box-sizing: border-box; 
    padding: 0 20px; 
    border: 2px solid transparent; 
    display: block; 
    width: 100%; 
    height: 100%; 
    text-transform: uppercase; 
    font-size: 16px; 
    line-height: 30px; 
    transition: 0.2s;
} 

.fa:before,.fa:after { 
    display: inline-block; 
    font-family: FontAwesome; 
    font-style: normal; 
    font-weight: normal; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.fa-search:before { 
    content: "\f002";
} 

.btn:hover span { 
    color: #000656; 
    border: 2px solid #000656;
} 

.btn.btn-red:hover span { 
    color: #fff; 
    border: 2px solid #00f0f0;
}/* End custom CSS */